$text-color: #020300;
$bg-color: #ffffff;
$hover-color: rgb(30, 180, 214);
$green: #1ECD97;

/* This style sheet is used to modify the apperance of the website */
/* Selects background color and padding of all pagess */
* {
  font-family: 'Lora', serif;
    font-weight: 400;
  }
  
  html, body {
    margin: 0;
    
    align-items: center;
    box-sizing: border-box;
    
  }

  a.button3{
     display:inline-block;
     padding:0.3em 1.2em;
     margin:0 0.3em 0.3em 0;
     border-radius:2em;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Roboto',sans-serif;
     font-weight:300;
     color:#FFFFFF;
     background-color:#4eb5f1;
     text-align:center;
     transition: all 0.2s;
    }
    a.button3:hover{
     background-color:#4095c6;
    }
  h1, a {
    
    text-decoration: none;
    display: inline-block;
   
  }
  

  .arrow a:hover {
    color: $hover-color;
    
  }
 
  /* added color to h1/title when mouse hovers it */
  .header a:hover {
    color: $hover-color;
  }
  
  /* Allows header(title and nav bar) to stay at the top of the page */
  .header {
   
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }
  
  
  
  /* Selects spacing of content in containers */
  .container {
   background-color: $bg-color;
     color: $text-color;
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Selects spacing of content in box class */
  .container .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /* Adds columns to box class */
  .container .box .mySlides {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  
  /* Allows all images to have the same size in the columns */
  .container .box .mySlides img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
  }
  
  .navbar {
    background-color: $bg-color;
     color: $text-color;
    margin: 15px 22px;
    display: flex;
    font-size: 20px;
  }
  
  /* Items on the nav bar will be spaced out by 14px */
  .navbar li {
    padding: 14px;
  }
  
  .navbar a:hover {
    color: $hover-color;
  }
  
  #coffee-cup {
    color: $text-color;
    font-size: 2rem;
  
  }
  
  /* Removes dots from nav bar list */
  ul {
    list-style-type: none;
    margin: 28;
    padding: 0;
  }
  h1 {
    margin: 15px 22px;
  }
  
  .prev {
    background-color: $bg-color;
    color: $text-color;
    text-decoration: none;
   
  }
  .caption-container {
    text-align: center;
    background-color: $bg-color;
    padding: 2px 16px;
    color: $text-color;
  }
  .next {
    background-color: $bg-color;
    color: $text-color;
    text-decoration: none;
  }
  
  
  /* Listed items will be aligned to the left */
  li {
    float: left;
    display: block;
  }
  
  /* Allows links and text to be on the same line when displayed on page */
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  
  
  /* 648 Ensures you only have one column of photos on breakpoint/small screen view */
  @media only screen and (max-width: 1050px) {
    .container .box {
      flex-direction: column;
    }
    .container .box .mySlides {
      width: 100%;
    }
    #cofee-cup {
      display: block;
      font-size: 40px;
    }
    
  }


  